{% extends "index.html" %}

{% block content %}

 <div class="rectangle-2"></div>
          <div class="rectangle-8">
    <section class="faq">
        <h1 class="section-heading">
            FAQs
        </h1>

        <h2 class="sub">
            Most frequent questions and answers
        </h2>
    </section>
        <ul id="accordion">
            <li>
                <label for="first">HOW DO I START TAKING CLASSES?<span>&#x3e;</span></label>
                <input type="radio" name="accordion" id="first" checked>
                <div class="content">
                    <p>You can start booking your private lessons when registering as a student with ChidoLingo.</p>
                </div>
            </li>

            <li>
                <label for="second">WHAT SOFTWARE & HARDWARE DO I NEED?<span>&#x3e;</span></label>
                <input type="radio" name="accordion" id="second">
                <div class="content">
                    <p> It’s straightforward. You only need a stable internet connection, a computer, and the free video conferencing tool Zoom.</p>
                </div>
            </li>

            <li>
                <label for="third">WILL I COVER ALL ESSENTIAL LANGUAGE SKILLS?<span>&#x3e;</span></label>
                <input type="radio" name="accordion" id="third">
                <div class="content">
                    <p>Yes. We have different lessons focusing on language competency: Speaking, Conversational Skills, Grammar, Vocabulary, Reading, and Writing.
                    With these skills, you will be able to speak confidently in any situation, understand native speakers from across the globe and feel comfortable
                    building simple to complex sentence structures.</p>
                </div>
            </li>

            <li>
                <label for="forth">WHAT ARE THE CHIDOLINGO CHALLENGE RULES?<span>&#x3e;</span></label>
                <input type="radio" name="accordion" id="forth">
                <div class="content">
                    <p>You need to take your 36 classes in a maximum period of 3 months. Time will start running after you take the first class.
                    Classes do not expire, but if you exceed the 3-month time limit, you will no longer be eligible for a refund.
                    To improve your listening and comprehension of accents, you must take classes with at least 3 different teachers in your program.
                    To be eligible for a refund, you must take at least 6 classes with each teacher. For example, taking 1 class with teacher A, 1 class with teacher B and 34 classes with teacher C is not possible.
                    It is only acceptable 6 classes (at least) with teacher A, 6 with teacher B and 24 with teacher C. You choose your teachers for every lesson.
                    You have the right to reschedule 1 class per month maximum, and the maximum number of classes to take per day is 1.</p>
                </div>
            </li>

            <li>
                <label for="fith">IS IT DIFFICULT?<span>&#x3e;</span></label>
                <input type="radio" name="accordion" id="fith">
                <div class="content">
                    <p>The ChidoLingo Challenge is designed to push your boundaries! Depending on your motivation, it might feel hard or not.
                    But many students who succeeded before will testify that the effort is worth it for the language skills.</p>
                </div>
            </li>

            <li>
                <label for="sixth">WHO ARE MY TEACHERS?<span>&#x3e;</span></label>
                <input type="radio" name="accordion" id="sixth">
                <div class="content">
                    <p>Teachers at ChidoLingo are experienced professionals who love to teach.
                    They are qualified, native-level speakers from all over Mexico.
                    They will teach you versatile language skills and cultural insights into different social and workplace situations.
                    </p>
                </div>
            </li>

            <li>
                <label for="seventh">WHAT IF I MISS A CLASS?<span>&#x3e;</span></label>
                <input type="radio" name="accordion" id="seventh">
                <div class="content">
                    <p>The class will still count towards your Challenge if it’s due to confirmed technical issues on ChidoLingo’s side. Once we have conﬁrmation that the fault lies with Chidolingo, we will update your account and refund your class credit.

                        If you missed the class due to problems on your side, you are no longer eligible for a refund.

                        You can, of course, reschedule 1 class per month maximum.</p>
                </div>
            </li>

            <li>
                <label for="eighth">HOW AND WHEN DO I RECEIVE MY CASHBACK REWARD IF I WIN?<span>&#x3e;</span></label>
                <input type="radio" name="accordion" id="eighth">
                <div class="content">
                    <p>After the ChidoLingo Challenge ends, the Student Team will check if you’re eligible for a refund.
                    If you qualify, we will send your cashback (30% of the original payment) to the same payment method you used for paying for the ChidoLingo Challenge.
                    This can take up to 1 month.</p>
                </div>
            </li></div>
          <img class="chip-1" src="{{url_for('static', filename='img/chip-1-1@2x.png')}}" alt="Chip 1" />
          <img class="flower-1" src="{{url_for('static', filename='img/flower-1-1@2x.png')}}" alt="Flower 1" />
          <div class="overlap-group">
            <img class="line-1" src="{{url_for('static', filename='img/line-2-1@2x.png')}}" alt="Line 1" />
            <img class="line-2" src="{{url_for('static', filename='img/line-2-1@2x.png')}}" alt="Line 2" />
            <div class="group-8">
              <div class="group"><img class="vector-4" src="{{url_for('static', filename='img/vector-4-1@2x.png')}}" alt="Vector 4" /></div>
              <p class="address nunito-black-white-24px">
                <span class="nunito-black-white-24px">36 Private Lessons In 3 Months</span>
              </p>
            </div>
            <div class="group-9">
              <div class="group"><img class="vector-4" src="{{url_for('static', filename='img/vector-4-1@2x.png')}}" alt="Vector 4" /></div>
              <div class="x30-cash-back nunito-black-white-24px">
                <span class="nunito-black-white-24px">30% Cash Back*</span>
              </div>
            </div>
            <div class="group-7">
              <div class="group"><img class="vector-4" src="{{url_for('static', filename='img/vector-4-1@2x.png')}}" alt="Vector 4" /></div>
              <div class="native-spanish-teachers nunito-black-white-24px">
                <span class="nunito-black-white-24px">Native Spanish Teachers</span>
              </div>
            </div>
          </div>
          <div class="overlap-group1">
            <div class="rectangle-10"></div>
            <div class="schedule-a-free-lesson nunito-black-black-24px">
                  <a href="#" onClick="MyWindow=window.open('/trial','MyWindow','width=600,height=800'); return false;">
                      <span class="nunito-black-black-24px">Schedule a Free Lesson</span></a>
            </div>
          </div>
          <div class="overlap-group2">
            <div class="rectangle-10-1"></div>
            <div class="e-mail-notification-fomr nunito-black-black-24px">
                  <a href="#" onClick="MyWindow=window.open('/signup','MyWindow','width=600,height=300'); return false;">
                      <span class="nunito-black-black-24px">Join our mailing list</span></a>
            </div>
          </div>
          <div class="overlap-group3">
            <div class="rectangle-10-2"></div>
            <div class="e-mail-notification-fomr-1 nunito-black-black-24px">
                  <a href="#" onClick="MyWindow=window.open('https://chidolingo.com/private-tutoring-online/','MyWindow','width=600,height=300'); return false;">
                      <span class="nunito-black-black-24px">Meet our Teachers</span></a>
            </div>
          </div>
          <img class="rating" src="{{url_for('static', filename='img/rating-1@2x.png')}}" alt="Rating" />
          <h1 class="title nunito-black-white-64px">
            <span class="span-1">Improve your Spanish<br /></span
            ><span class="nunito-black-white-64px">for 3 months and </span
            ><span class="nunito-black-white-64px">get<br /></span><span class="span-1">30% Cash Back!</span>
          </h1>

{% endblock %}